* {
    font-family: Poppins, Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 0px;
}

.header {
    display: flex;
    padding: 8px;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(152, 229, 255);
}

.title {
    margin-left: 12px;
    color: white;
    font-size: 32px;
}

ul {
    display: flex;
    gap: 8px;
    list-style-type: none;
    margin-right: 12px;
}

a {
    text-decoration: none;
    color: rgb(255, 139, 255);
}

.top {
    display: flex;
    padding-top: 64px;
    padding-bottom: 64px;
    padding-left: 32px;
    background-color: rgb(255, 139, 255);
}

.left-things {
    color: rgb(152, 229, 255);
    width: 500px;
}

.left-things p {
    color: white;
}

.left-things button {
    border: none;
    border-radius: 8px;
    background-color: rgb(152, 229, 255);
    padding: 5px;
    padding-right: 8px;
    padding-left: 8px;
    color: rgb(255, 139, 255);
}

.right-things{
    display:flex;
    width: auto;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
.right-things img {
    border: 8px solid rgb(255, 139, 255);
    border-radius: 8px;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-title {
    margin-top: 24px;
    margin-bottom: 24px;
    align-self: center;
    font-weight: 900;
    font-size: 32px;
    color: rgb(152, 229, 255);
}

.infoboxes {
    width: 1124px;
    display: flex;
    gap: 32px;
    margin-left: auto;
    margin-right: auto;
}

.info {
    display: flex;
    flex-direction: column;
}

.info img {
    border: 8px solid rgb(152, 229, 255);
    border-radius: 8px;
    width: 241px;
    flex-shrink: 1;
}

.info .centered{
    align-self: center;
    text-align: center;
    color: rgb(255, 139, 255);
    width: 241px;
    overflow-wrap: break-word;
}

.quote {
    display: flex;
    background-color: rgb(152, 229, 255);
    flex-direction: column;
    justify-content: center;
    padding: 64px 48px 64px 48px;
}

.quote-text {
    font-size: 32px;
    font-style: italic;
    color: white;

}

.quote-footer {
    font-size: 24px;
    align-self: flex-end;
    color: white;
}

.random-button {
    display: flex;
    align-items: center;
    padding: 32px 64px 32px 64px;
    background-color: rgb(255, 139, 255);
}

.why-is-there-a-box-at-the-center-bro {
    display: flex;
    flex-direction: row;
    color: rgb(255, 139, 255);
    background-color: white;
    padding: 32px;
    flex-grow: 1;
    border-radius: 8px;
    justify-content: space-between;
}

.far-right {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
}

.woke-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.random-button button {
    align-self: flex-end;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 60px;
    background-color: white;
    border: 2px solid rgb(255, 139, 255);
    padding: 8px 16px 8px 16px;
    border-radius: 8px;
}

.footer {
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    justify-content: center;
    background-color: rgb(41, 40, 42);
    color: white;
}