@font-face {
    font-family: comic-sans;
    src: url("fonts/comic-sans.woff2");
}

@font-face {
    font-family: inter;
    src: url("fonts/Inter-Regular.woff2");
}

* {
    font-family: inter;
}

body {
    display: flex;
    margin: 0;
}

.left {
    background: no-repeat url("hyper-ascent.jpg");
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.logo {
    margin-top: 30vh;
    font-size: 4rem;
    color: white;
    background-color: rgba(59, 59, 59, 0.8);
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
}

.logo p {
    margin: 0px;
    font-family: comic-sans, sans-serif;
}

.footer {
    margin-top: auto;
    align-self: center;
    color: white;
    margin-bottom: 8px;
}

a:link, a:visited {
    color: white;
}

a.login:link, a.login:visited {
    color: rgb(2, 84, 2);
}

a:hover, a.login:hover {
    color: skyblue;
}

.right {
    flex-grow: 3;
    display: flex;
    flex-direction: column;
}

em {
    color: red;
    white-space: pre;
}


label {
    display: inline-block;
    width: 100%;
    font-size: 0.75rem;
    color: rgb(91, 91, 91);
}

.items {
    display: flex;
    flex-direction: row;
    margin-left: 4px;
    gap: 64px;
}

.item {
    width: 200px;
}

.context {
    flex-grow: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
}

.form {
    flex-grow: 0.3;
    display: flex;
    box-shadow: 0 5px 5px grey;
    z-index: 1;
}

form {
    flex-grow: 1;
    display: flex;
}

.create-account {
    flex-grow: 3;
    padding-top: 32px;
    padding-left: 32px;
}

fieldset {
    flex-grow: 1;
    border: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

legend {
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

input {
    border: 1px solid lightgrey;
    border-radius: 0.25rem;
    height: 1.5rem;
}

.context, .create-account {
    background-color: rgb(238, 238, 238);
}

:user-invalid {
    border-color: red;
}

input:focus {
    border-color: lightskyblue;
}

button {
    padding: 12px 32px 12px 32px;
    border: none;
    background-color: rgb(2, 84, 2);
    border-radius: 5px;
    color: white;
    font-weight: bold;
    box-shadow: 3px 3px 0 lightgrey;
}

.login {
    margin-top: 16px;
}