body {
    display: block;
}

* {
    -webkit-text-stroke: 1px white;
    color: black;
    font-weight: bold;
    font-family: sans-serif;
}

.error-gone {
    display: none;
}

.error {
    color: red;
    -webkit-text-stroke: 0;
}