body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grids {
    display: grid;
    grid-template-columns: repeat(3, 15vw);
    grid-template-rows: repeat(3, 15vw);
}

.grid {
    border: 2px solid black;
}

.playerTurn {
    margin-top: 16px;
}